<div class="container">

  <form [formGroup]="form">

    <div *ngIf="form.errors?.changepw"
         class="error-panel help-block">
      {{form.errors.changepw}}
    </div>

    <div class="form-group">
      <label for="exampleInputEmail1">Usuario</label>
      <input type="text" formControlName="Username" class="form-control" id="InputUserName" placeholder="Usuario">
    </div>

    <div class="form-group">
      <label for="InputPassword1">Senha antiga</label>
      <input type="password" formControlName="OldPassword" class="form-control" id="InputPassword1" placeholder="Senha Antiga">
    </div>

    <div class="form-group">
      <label for="InputPassword1">Senha</label>
      <input type="password" formControlName="Password" class="form-control" id="InputPassword2" placeholder="Nova Senha">
    </div>

    <div class="form-group">
      <label for="InputPassword2">Confirme a senha</label>
      <input type="password" formControlName="ConfirmPassword" class="form-control" id="InputPassword3" placeholder="Confirmação Nova Senha">
    </div>

    <button type="submit"
            [disabled]="form.invalid"
            class="btn btn-md btn-success btn-signin" (click)="onSubmit()">
      Alterar senha
    </button>

  </form>

</div>
