<div class="layout-dashboard">
    <div class="p-grid">
        <div class="p-col-12 p-md-12 p-xl-12">
            <div class="p-col-12 p-xl-12">
                <div class="card">
                    <div class="card-header">
                        <h4>Ultimas partidas</h4>
                        <!-- <p-dropdown [options]="orderWeek" [(ngModel)]="selectedOrderWeek" optionLabel="name" (onChange)="recentSales($event)"
								styleClass="dashbard-demo-dropdown" [ngStyle]="{'min-width': '8rem'}"></p-dropdown> -->
                    </div>
                    <p>Confira as ultimas partidas.</p>
                    <game-list></game-list>
                </div>
            </div>
        </div>
    </div>

    <div class="p-grid">
        <div class="p-col-12 p-md-12 p-xl-12">
            <div class="p-col-12 p-xl-12">
                <div class="card">
                    <div class="card-header">
                        <h4>Ranking Geral</h4>
                    </div>
                    <p>Veja sua posição</p>
                    <ranking></ranking>
                </div>
            </div>
        </div>
    </div>

    <div class="p-grid">
        <div class="p-col-12 p-md-12 p-xl-12">
            <div class="p-col-12 p-xl-12">
                <div class="card">
                    <div class="card-header">
                        <h4>Ranking Geral</h4>
                    </div>
                    <p>Veja sua posição</p>
                    <ranking type="mes"></ranking>
                </div>
            </div>
        </div>
    </div>
</div>