<div class="p-grid">
    <div class="p-col-12">
        <div class="card">
            <h5>Edição de Jogadores</h5>
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
                <div class="p-fluid p-formgrid p-grid">
                    <div class="p-field p-col-12 p-md-6">
                        <label for="firstname6">Nome do Jogador:</label>
                        <input type="text" class="form-control" id="PlayerName" formControlName="Name" pInputText>
                    </div>
                    <div class="p-field p-col-12">
                        <label for="address">Url Perfil:</label>
                        <input type="text" formControlName="ImageUrl" id="playerImageUrl" pInputText>
                    </div>

                    <div class="p-field p-col-12">
                        <h5>Ativo:</h5>
                        <p-inputSwitch [ngModel]="player.IsActive" formControlName="IsActive"></p-inputSwitch>

                    </div>


                </div>
                <button *ngIf="editMode" class="p-mr-2 p-mb-2" pButton pRipple type="submit" [disabled]="form.invalid" label="Salvar" icon="pi pi-check"></button>
                <button *ngIf="!editMode" class="p-mr-2 p-mb-2" pButton pRipple type="submit" [disabled]="form.invalid" label="Incluir" icon="pi pi-check"></button>
                <button pButton pRipple label="Voltar" class="p-mr-2 p-mb-2" icon="pi pi-times" (click)="onBack()"></button>
            </form>
        </div>
    </div>
</div>