<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
<!--
  <a class="navbar-brand" [routerLink]="['/home']">
    <img src="./assets/logo.png" alt="">
    Skillers Poker Club
  </a>
-->
  <nav-menu></nav-menu>
</nav>

<app-loader></app-loader>

<div class="container">
  <router-outlet></router-outlet>
</div>

<!-- Footer -->
<footer>

  <!-- Footer Elements -->
  <div class="container">

    <!-- Grid row-->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-12 py-5">
        <div class="mb-5 flex-center">


        </div>
      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row-->

  </div>
  <!-- Footer Elements -->
  <h6 id="footer">{{version}}</h6>

</footer>
<!-- Footer -->
