<button *ngIf="auth.isLoggedIn()" class="btn btn-success m-2" [routerLink]="['/player/create']"> Adicionar Jogador</button>
<button *ngIf="auth.isLoggedIn()" class="btn btn-info m-2" (click)="onActive()"> Ativar Jogadores Frequentes</button>

<table class="table table-hover table-responsive" id="no-more-tables">
  <thead>
    <tr>
      <th scope="col">Foto</th>
      <th scope="col">#</th>
      <th scope="col">Nome</th>
      <th scope="col">Criado em:</th>
      <th scope="col">Primeira partida:</th>
      <th scope="col">Ultima partida:</th>
      <th scope="col">Ativo</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let player of players" (click)="onSelect(player)">
      <td><img id="player-img" class="player-img" src="{{player.ImageUrl}}" /></td>
      <td scope="row">{{player.Id}}</td>
      <td>{{player.Name}}</td>
      <td>{{player.CreatedDate | date:'dd/MM/yyyy' : 'GMT-6'}}</td>
      <td>{{player.FirstGameDate | date:'dd/MM/yyyy' : 'GMT-6'}}</td>
      <td>{{player.LastGameDate | date:'dd/MM/yyyy' : 'GMT-6'}}</td>
      <td>
        <div class="form-group">
          <span class="switch switch-sm">
            <input [ngModel]="player.IsActive" type="checkbox" class="switch">
            <label></label>
          </span>
        </div>
      </td>
    </tr>

  </tbody>
</table>

