<div class="p-grid list-demo">
    <div class="p-col-12">
        <div class="card">
            <h5>Jogadores</h5>
            <p-dataView #dv [value]="players" [paginator]="true" [rows]="10" filterBy="name" [sortField]="sortField" [sortOrder]="sortOrder" layout="grid">
                <ng-template pTemplate="header">
                    <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between">
                        <p-dropdown [options]="sortOptions" [(ngModel)]="sortKey" placeholder="Ordenar por nome" (onChange)="onSortChange($event)" styleClass="p-mb-2 p-mb-md-0"></p-dropdown>
                        <span class="p-input-icon-left p-mb-2 p-mb-md-0">
                    <i class="pi pi-search"></i>
                    <input type="search" pInputText placeholder="Pesquisar pelo nome" (input)="dv.filter($event.target.value)">
                </span>
                        <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
                    </div>
                </ng-template>
                <ng-template let-player pTemplate="listItem">
                    <div class="p-col-12">
                        <div class="player-list-item">
                            <img [src]="'assets//images//' + player.imageUrl" />
                            <div class="player-list-detail">
                                <div class="player-name">{{player.name}}</div>
                                <div class="player-firstGameDate"><span class="detail-title">Primeira vez :</span> {{player.firstGameDate | date:'dd/MM/yyyy' : 'GMT-6'}}</div>
                                <div class="player-lastGameDate"><span class="detail-title">Ultima Vez :</span> {{player.lastGameDate | date:'dd/MM/yyyy' : 'GMT-6'}}</div>

                                <i class="pi pi-clock player-category-icon"></i><span class="player-category">Apareceu {{player.showUpCount}} vezes</span>
                            </div>
                            <div class="player-list-action">
                                <span class="player-price"></span>
                                <p-button icon="pi pi-pencil" (click)="onSelect(player)" label="Editar"></p-button>
                                <span [class]="'player-badge status-' "><span class="detail-title">Ativo? </span>
                                <p-inputSwitch (onChange)="handleChange($event)" [(ngModel)]="player.isActive"></p-inputSwitch>
                                </span>

                            </div>
                        </div>
                    </div>
                </ng-template>
                <ng-template let-player pTemplate="gridItem">
                    <div class="p-col-12 p-md-4">
                        <div class="player-grid-item card">
                            <div class="player-grid-item-top">
                                <div>
                                    <i class="pi pi-clock player-category-icon"></i>
                                    <span class="player-category">Apareceu {{player.showUpCount}} vezes</span>
                                </div>
                            </div>
                            <div class="player-grid-item-content">
                                <img [src]="'assets//images//' + player.imageUrl" />
                                <div class="player-name">{{player.name}}</div>
                                <div class="player-description"><span class="detail-title">Primeira vez :</span> {{player.firstGameDate | date:'dd/MM/yyyy' : 'GMT-6'}}</div>
                                <div class="player-description"><span class="detail-title">Ultima Vez :</span> {{player.lastGameDate | date:'dd/MM/yyyy' : 'GMT-6'}}</div>
                            </div>
                            <div class="player-grid-item-bottom">
                                <span class="player-price"></span>
                                <p-button icon="pi pi-pencil" (click)="onSelect(player)" label="Editar"></p-button>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </p-dataView>
        </div>
    </div>

</div>