<div class="container">

  <h2>Caixa</h2>

  <h4>Jogadores</h4>


  <form [formGroup]="gameDetailForm" class="form">

    
    <div formArrayName="gameDetailsArray">
      <div *ngIf="this.gameDetails.value.length == 0">
        Ops... Não tem ninguem pra ver um flopinho?
      </div>
      <div *ngFor="let item of gameDetails.controls; let gdIndex=index" [formGroupName]="gdIndex" class="">
        <hr />
        <div class="row">
          <div class="form-group col">
            <label>Jogador:</label>
            <select formControlName="PlayerId" class="form-control">
              <option value="">Escolha um jogador...</option>
              <option *ngFor="let player of players; let pIndex = index" [value]="player.Id">{{ player.Name}}</option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="form-group col" *ngIf="isBuyIn" id="hideRange">
            <label>Buy in:</label>
            <input formControlName="Value" type="range" class="form-control custom-range" min="5" max="50" step="5">
          </div>

          <div class="form-group col" *ngIf="isBuyIn">
            <label>R$</label>
            <input formControlName="Value" value="{{ this.gameDetails.controls[gdIndex].value.Value}}" class="form-control" type="number" min="5" max="1000" step="5">
          </div>

          <div class="form-group col" *ngIf="!isBuyIn" id="hideRange">
            <label>Cash out:</label>
            <input formControlName="ChipsTotal" type="range" class="form-control custom-range" min="0" max="100" step="5">
          </div>

          <div class="form-group col" *ngIf="!isBuyIn" >
            <label>R$</label>
            <input formControlName="ChipsTotal" value="{{ this.gameDetails.controls[gdIndex].value.ChipsTotal}}" class="form-control" type="number" min="0" max="5000" step="0.25">
          </div>
          <button type="button" class="btn btn-dark m-2" (click)="onClear(0, gdIndex)">0</button>
          <button type="button" class="btn btn-outline-dark m-2" (click)="deleteGameDetails(gdIndex)">X</button>
        </div>

        <div *ngIf="!isBuyIn" (click)="onAddValue(0.25, gdIndex)" class="pokerchip flat green"></div>
        <div *ngIf="!isBuyIn" (click)="onAddValue(1, gdIndex)" class="pokerchip flat black"></div>
        <div (click)="onAddValue(5, gdIndex)" class="pokerchip flat purple"></div>
        <div (click)="onAddValue(10, gdIndex)" class="pokerchip flat red"></div>
        <div *ngIf="isBuyIn" (click)="onAddValue(25, gdIndex)" class="pokerchip flat blue"></div>

      </div>

      <button type="button" class="btn btn-primary m-2" (click)="addGameDetails()">Adicionar jogador</button>
    </div>
    <button type="button" class="btn btn-success m-2" (click)="onSubmit(this.gameDetails)">Confirmar</button>
    <button type="button" class="btn btn-danger m-2" [routerLink]="['/game', this.routeGameId ]">Cancelar</button>

  </form>


</div>
