<div class="p-grid">
    <div class="p-col-12">
        <div class="card">
            <h4>Partida</h4>

            <div class="p-fluid">
                <div class="p-field">
                    <label for="id">Id</label>
                    <input id="id" type="text" value="{{game.Id}}" pInputText>
                </div>
                <div class="p-field">
                    <label for="lastname1">Data</label>

                    <input id="id" type="text" value="{{game.CreatedDate | date:'dd/MM/yyy' : 'GMT-6'}}" pInputText>
                </div>
                <div class="p-field">
                    <label for="age1">Status</label>
                    <input id="id" type="text" value="{{game.Status}}" pInputText>
                </div>
            </div>
            <game-detail-list [game]="game" (gameAtDetail)="updateGame($event)"></game-detail-list>
        </div>
    </div>
</div>