<div class="p-grid">
    <div class="p-col-12">
        <div class="card">
            <h4>Iniciar nova partida</h4>
            <p>Uma partida sera iniciada no dia {{now | date:"dd/MM/yyyy"}} as {{now | date:"hh:mm:ss"}} </p>



            <h4>Jogadores</h4>

            <form [formGroup]="gameForm">

                <div formArrayName="gameDetailsArray">
                    <div class="card p-mb-4" *ngIf="this.gameDetails.value.length == 0">
                        Ops... Não tem ninguem pra ver um flopinho?
                    </div>
                    <div *ngFor="let item of gameDetails.controls; let gdIndex=index" [formGroupName]="gdIndex">
                        <div class="card p-mb-4">

                            <div class="p-fluid">
                                <div class="p-field">
                                    <label>Jogador:</label>
                                    <p-dropdown formControlName="PlayerId" optionValue="Id" [options]="players" optionLabel="Name" placeholder="Escolha o jogador"></p-dropdown>
                                </div>
                            </div>
                            <div class="p-fluid">
                                <div class="p-field">
                                    <label>Buy in:</label>

                                </div>

                                <div class="p-field">
                                    <p-slider formControlName="Value" [step]="5"></p-slider>
                                </div>

                                <div class="p-grid">
                                    <div class="p-col-1">
                                        <label>R$</label>
                                    </div>
                                    <div class="p-col-4">
                                        <input pInputText formControlName="Value" value="{{ this.gameDetails.controls[gdIndex].value.Value}}" class="form-control" type="number" min="5" max="1000" step="5">
                                    </div>
                                    <div class="p-col">
                                        <button pButton type="button" class="p-button-secondary" (click)="onClear(0, gdIndex)"><i class="fas fa-broom"></i></button>
                                    </div>
                                    <div class="p-col">
                                        <button pButton type="button" class="p-button-danger" (click)="deleteGameDetails(gdIndex)">X</button>
                                    </div>
                                </div>



                            </div>

                            <div (click)="onAddValue(5, gdIndex)" class="pokerchip flat purple"></div>
                            <div (click)="onAddValue(10, gdIndex)" class="pokerchip flat red"></div>
                            <div (click)="onAddValue(25, gdIndex)" class="pokerchip flat blue"></div>

                        </div>
                    </div>

                </div>

                <button pButton type="button" class="p-m-2" (click)="addGameDetails()">Adicionar jogador</button>
                <button pButton type="button" class="p-button-success p-m-2" (click)="startGame(this.gameDetails)" [disabled]="this.gameDetails.value.length == 0 || gameForm.invalid">Iniciar</button>

            </form>


        </div>
    </div>
</div>