/* 
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/
@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {

    /*
	Label the data
	*/
  #no-more-tables td:nth-of-type(2):before {
    content: "";
  }
  #no-more-tables td:nth-of-type(3):before {
    content: "Nome";
  }

  #no-more-tables td:nth-of-type(4):before {
    content: "Rebuys";
  }

  #no-more-tables td:nth-of-type(5):before {
    content: "Total de fichas";
  }

  #no-more-tables td:nth-of-type(6):before {
    content: "Fichas - Rebuy";
  }

  #no-more-tables td:nth-of-type(7):before {
    content: "Rake";
  }

  #no-more-tables td:nth-of-type(8):before {
    content: "Total";
  }

  #no-more-tables td:nth-of-type(9):before {
    content: "Lucro/Perda";
  }

  #no-more-tables tfoot td:nth-of-type(3):before {
    content: "Totais";
    font-weight: bold;
  }

  #no-more-tables tfoot td:nth-of-type(4):before {
    content: "Rebuys";
  }

  #no-more-tables tfoot td:nth-of-type(5):before {
    content: "Total de Fichas";
  }

  #no-more-tables tfoot td:nth-of-type(6):before {
    content: "Fichas - Rebuy";
  }

  #no-more-tables tfoot td:nth-of-type(7):before {
    content: "Rake";
  }
}

.player-img {
  width: 50px;
  height: 50px;
  margin: 0 auto 10px;
  display: block;

  border-image-outset: 20px;

}
