<br />

<div class="container">

  <div class="card" style="width: 18rem;">
    <img class="card-img-top player-img" src="{{player.ImageUrl}}" alt="Foto do jogador">
    <div class="card-body">
      <h5 class="card-title">{{player.Name}}({{player.Id}})</h5>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><b>Primeira partida:</b> {{player.FirstGameDate| date:'dd/MM/yyyy' : 'GMT-6'}}</li>
      <li class="list-group-item"><b>Ultima partida:</b> {{player.LastGameDate| date:'dd/MM/yyyy' : 'GMT-6'}}</li>
      <li class="list-group-item"><b>Quantidade de partidas:</b> {{player.ShowUpCount}}</li>
    </ul>
    <div class="card-body">
      <button *ngIf="auth.isLoggedIn()" class="btn btn-info card-link" (click)="onEdit()">Editar</button>
      <button class="btn btn-info  card-link" (click)="onBack()">Voltar</button>
    </div>
  </div>

</div>


